body{
    margin:0;
    padding: 0;
}

header{
    background-image: url(/images/header.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover  ;
    min-height: 600px;
    
}





