html{
    font-size: 68.5%;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Lato';
    font-size: 1.6rem;
}

.contenedor{
    max-width: 100rem;
    margin: 0 auto;
    padding-top: 1rem;
}

header{
    background-image: url(/images/header.jpg);
    background-position: center;
    height: 100vh;
    background-size: cover;
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navegacion a{
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-weight: 700;
}

.first{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

header h1{
    color: white;
    margin-bottom: 7.5rem;
    max-width: 50rem;
    line-height: 2;
}

.contenedor h2{
    text-align: center;
    margin-bottom: 5rem;
}

.section-first{
    display: flex;
    flex-direction: column;
}

.datos{
    display: flex;
    text-align: center;
}

.caja{
    margin:0 1rem
}
.caja p{
    line-height: 2;
    font-weight: 600;
}

.centro{
    display: flex;

}

.centro img{
    max-width: 100%;
    
}

.anuncio{
    margin: 0 1rem;
    background: rgb(236, 235, 235);
}
.anuncio-contenido{
    padding: 1rem;
}
.anuncio a{
    background:#E08709;
    
}
.boton{
    padding: 1rem;
    display: block;
    margin-bottom: 1rem ;
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
}

.precio{
    color: green;
    font-weight: 700;
}
.anuncio-ver{

background: green;
display: inline-block;
float: right;
margin: 1rem 1rem 0 0;
}





