html{
    font-size: 62.5%
}
body{
    margin:0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    
}

header{
    background-image: url(/images/header.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    min-height: 60rem;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.first{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    


.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    width: 50rem;
    color: white;
    margin-bottom: 6rem;
    line-height: 2;
}

.barra a{
    color: white;
    text-decoration: none;
    margin: 2rem;
    font-weight: 700;
    font-size: 1.8rem;
}
.barra a:last-of-type{
    margin-right: 0;
}


/* ----------------------   FIN HEADER --------------------------------------*/

.datos{
    display: flex;
    
}
.caja{
    text-align: center;
    margin: 2rem ;
    width: 33.3%;
}

.caja *{
margin: 2.2rem;
font-weight: 700;
}

.contenedor h2{
    text-align: center;
    color: rgb(116, 116, 119);
    font-weight: 900;
}





